.section-center {
  width: calc(~"100% -" @width-left-section ~"-" @width-right-section);
  margin: @height-header-section @width-right-section @height-control-bar @width-left-section;
  height: calc(~"100% -" @height-control-bar ~"-" @height-header-section);
  padding: 15px;
}

.section-player {
  width: 100%;
  height: 100%;
}